body            {background-color: #0c0c0c;
				background-image: radial-gradient( #005186 0%, #0c0c0c 74%);
				margin:0%;
				padding: 0%;
				background-repeat: no-repeat;
				height: 100vh;
				width: 100%;}

#particles-js   {padding: 0%;
				position: fixed;
				height: 100%;
				width: 100%;}

ul              {list-style: none;
				opacity: .8;
				margin: 0;
				padding: 0;
				background-color: #0c0c0c;
				overflow: hidden;
				widows: 100%;}

ul li          {float: left;
				line-height: 40px;
				text-align: center;
				opacity: .8;
				height: 40px;
				width: 20%;}

ul li a         {display: block;
				color: azure;
				text-align: center;
				text-decoration: none;
				opacity: .8;}

ul li:hover     {background-color:  #111}

ul li ul li:hover{display: block;}    

#r1				{font-family: cursive;
				font-size: 4vh;
				padding: 0;
				margin: 0;
				top: 100%;
				position: absolute;
				text-align: center;
				color: aliceblue;
				cursor: text;
				height: 6vh;
				width: 100%;
				background-color: #0c0c0c;
				background-image: radial-gradient(  #0c0c0c 30%);
				border-width: 100%;}

.portfolio		{
				position: absolute;
				height: 20vw;
				width: 20vw;
				top: 30vh;
				box-shadow: inset 0px 0px 0px 3px #333;
				background-blend-mode: luminosity;}

#img1			{background: url("../images/25.jpg");
				background-size: cover;
				top: 10%;
				left: 10%;
				cursor: pointer;}

#img2			{background: url("../images/24.jpg");
				background-size: cover;
				top: 10%;
				left: 30.5%;
				cursor: pointer;}

#img3			{background: url("../images/25.jpg");
				background-size: cover;
				top: 10%;
				left: 51%;
				cursor: pointer;}

#img4			{background: url("../images/24.jpg");
				background-size: cover;
				top: 10%;
				left: 71.5%;
				cursor: pointer;}

#img5			{background: url("../images/25.jpg");
				background-size: cover;
				top: 50%;
				left: 10%;
				cursor: pointer;}

#img6			{background: url("../images/24.jpg");
				background-size: cover;
				top: 50%;
				left: 30.5%;
				cursor: pointer;}

#img7			{background: url("../images/25.jpg");
				background-size: cover;
				top: 50%;
				left: 51%;
				cursor: pointer;}

#img8			{background: url("../images/24.jpg");
				background-size: cover;
				top: 50%;
				left: 71.5%;
				cursor: pointer;}				


#img1:hover		{background: url("../images/5.png");
				background-size: cover;}

#img2:hover		{background: url("../images/6.jpg");
				background-size: cover;}

#img3:hover		{background: url("../images/7.jpg");
				background-size: cover;}

#img4:hover		{background: url("../images/8.jpg");
				background-size: cover;}

#img5:hover		{background: url("../images/9.jpg");
				background-size: cover;}

#img6:hover		{background: url("../images/10.jpg");
				background-size: cover;}

#img7:hover		{background: url("../images/11.jpg");
				background-size: cover;}		

#img8:hover		{background: url("../images/12.jpg");
				background-size: cover;}	

	
				
			
				